# .cargo/config.toml

[target.aarch64-apple-darwin]
rustflags = [
    "-C", "link-arg=-lc++",
]

[target.aarch64-apple-ios]
rustflags = [
    "-C", "link-arg=-lc++",
    "-C", "link-arg=-L/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/clang/17/lib/darwin",
    "-C", "link-arg=-lclang_rt.ios",
]

[target.aarch64-apple-ios-sim]
rustflags = [
    "-C", "link-arg=-lc++",
    "-C", "link-arg=-L/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/clang/17/lib/darwin",
    "-C", "link-arg=-lclang_rt.iossim",
]

[target.x86_64-apple-ios]
rustflags = [
    "-C", "link-arg=-lc++",
    "-C", "link-arg=-L/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/clang/17/lib/darwin",
    "-C", "link-arg=-lclang_rt.iossim",
]